<!DOCTYPE html>
<html>
  <head>
    <title>AI Odyssey</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <h1>AI Odyssey</h1>
    <div id="loading" class="loading-overlay">
      <div class="pulse"></div>
    </div>
    <div id="storyText"></div>
    <div id="imageChoices"></div>
    <div id="smallLoading" class="small-loading">
      <div class="spinner"></div>
    </div>
    <div id="explanation">
      <h2>AI Odyssey</h2>
      <p>
        Welcome to <strong>AI Odyssey</strong>, an innovative text adventure
        game where every twist in the story and each image you see is uniquely
        crafted by artificial intelligence.<br /><br />
        Powered by OpenAI's GPT for narrative generation and DALL-E for vivid
        image creation, AI Odyssey game offers a unique experience and showcases
        how AI might be used in video games<br /><br />
        AI Odyssey is inspired by old school text adventure games.<br /><br />
        Developed with the help of LLM:s.
      </p>
    </div>
    <script src="static/script.js"></script>
  </body>
</html>
